/*common classes start*/
* {
	margin: 0;
	padding: 0;
}
body, html {
	background:url(../images/backgrounds/pageback.jpg) top center #ebdcb9 no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
img {
	border:none
}
p {
	line-height:19px;
	padding:5px 0;
}
em, i {
	font-style: italic;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
.blank_height_20 {
	width:100%;
	float:left;
	height:20px;
}
.no_border {
	border:none !important;
}
.clear_float {
	clear:both;
}
/*common classes end*/

.wrapper {
	margin:auto;
	width:960px;
}
.header_wrapper {
	width:100%;
	float:left;
	height:172px;
	padding-top: 45px;
	position: relative;
}
.header_left_part {
	width:100%;
	float:left;
}
.header_wrapper img {
	float:left;
	margin-top:5px;
}
.header_logos {
	width:750px;
	float:left;
}

.headertop {
	width: 100%;
	border-top: 10px solid #460000;
}

.headertop #music {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 250px;
	padding: 5px 10px;
	display: block;
	background: #460000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#music .mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
	background: transparent !important;
}


.slogan {
	float:left;
	margin: 5px 3px 0 0;
	text-align:right;
	width: 230px;
	display: block;
	position: absolute;
	top: 25px;
	right: 0;
}
.header_wrapper ul {
	margin-top: -7px;
	float:left;
	width:100%;
}
.header_wrapper ul li {
	float:left;
}
.header_wrapper ul li a {
	display:block;
	height:43px;
	text-decoration:none;
}

/* Banquets Nav*/
.navigation_wrapper ul li a.banquets_catering {
	background:url(../images/backgrounds/new_nav.png) no-repeat -161px 0px;
	width:241px;
}
.navigation_wrapper ul li a:hover.banquets_catering {
	background:url(../images/backgrounds/new_nav.png) no-repeat -161px -56px;
}
.navigation_wrapper ul li a.banquets_catering_selected {
	background:url(../images/backgrounds/new_nav.png) no-repeat -161px -56px;
	width:241px;
}
/* About Us Nav */
.navigation_wrapper ul li a.about_us {
	background:url(../images/backgrounds/new_nav.png) no-repeat -401px 0px;
	width:127px;
}
.navigation_wrapper ul li a:hover.about_us {
	background:url(../images/backgrounds/new_nav.png) no-repeat -401px -56px;
}
.navigation_wrapper ul li a.about_us_selected {
	background:url(../images/backgrounds/new_nav.png) no-repeat -401px -56px;
	width:127px;
}

/* Gift Cards Nav */
.navigation_wrapper ul li a.gift_cards {
	background:url(../images/backgrounds/new_nav.png) no-repeat -528px 0px;
	width:132px;
}
.navigation_wrapper ul li a:hover.gift_cards {
	background:url(../images/backgrounds/new_nav.png) no-repeat -528px -56px;
}
.navigation_wrapper ul li a.gift_cards_selected {
	background:url(../images/backgrounds/new_nav.png) no-repeat -528px -56px;
	width:132px;
}
/* Events Nav*/

.navigation_wrapper ul li a.events {
	background:url(../images/backgrounds/new_nav.png) no-repeat -660px 0px;
	width:102px;
}
.navigation_wrapper ul li a:hover.events {
	background:url(../images/backgrounds/new_nav.png) no-repeat -660px -56px;
}
.navigation_wrapper ul li a.events_selected {
	background:url(../images/backgrounds/new_nav.png) no-repeat -660px -56px;
	width:102px;
}

/* Location Nav */
.navigation_wrapper ul li a.locations {
	background:url(../images/backgrounds/new_nav.png) no-repeat -762px 0px;
	width:111px;
}
.navigation_wrapper ul li a:hover.locations {
	background:url(../images/backgrounds/new_nav.png) no-repeat -762px -56px;
}
.navigation_wrapper ul li a.locations_selected {
	background:url(../images/backgrounds/new_nav.png) no-repeat -762px -56px;
	width:111px;
}

.years {
	width: 353px;
	height: 57px;
	display: block;
	background: url(../images/59years.png) no-repeat 0 0;
	text-indent: -9999em;
	position: absolute;
	top: 20px;
	right: 185px;
}

.banner_wrapper {
	width:100%;
	float:left;
	height:353px;
	position: relative;
	background:url(../images/banner.jpg) no-repeat 0px 0px;
}

.banner_wrapper p {
	font-family: Baskerville, Georgia, "Times New Roman", Times, serif;
	color: #453F31;
	font-size: 24px;
	line-height: 29px;
	width: 269px;
	margin-top:15px;
}

.banner_wrapper h2 {
	font-family: Baskerville, Georgia, "Times New Roman", Times, serif;
	color: #453F31;
	font-size: 38px;
	line-height: 32px;
	width: 269px;
	margin-top:10px;
}

.check_out_menu_button {
	width:273px;
	float:left;
	margin:22px 0 0 -20px;
}
.body_content_wrapper {
	position: relative;
	width:100%;
	float:left;
}
.body_column_1 {
	width:327px;
	float:left;
	margin-right:30px;
	line-height: 19px;
}
.section_box {
	width:100%;
	float:left;
	margin:0 0 20px 0;
}
.margin_10 {
	margin:10px 15px 10px 0;
}
.body_column_1 p {
	line-height:19px;
	font-size:14px;
}
.buttons {
	margin:5px 0;
	width:100%;
	text-align:right;
}
.body_advertisements_wrapper {
	width:244px;
	float:right;
	margin-top:12px;
}
.body_advertisements_wrapper a {
	float:left;
}
.footer_wrapper {
	border-top:solid 4px #d5ae71;
	width:100%;
	float:left;
	margin:5px 0 15px 0;
	padding:16px 0 15px 0;
	font-size:11px;
	color:#524c3d;
	line-height:15px;
}
.footer_wrapper ul li {
	float:left;
	color:#524c3d;
	border-right:solid 1px #524c3d;
	padding:0 5px;
	line-height:13px;
}
.footer_wrapper ul li a {
	color:#524c3d;
}
.footer_wrapper .float_right a {
	font-size:12px;
}
/*interior page class from here */
.interior_body_left {
	position: relative;
	width:665px;
	float:left;
	padding:30px 15px;
}

.interior_body_left h1 {
	font-size:34px;
	font-family:Baskerville, Georgia, "Times New Roman", Times, serif;
	color:#242014;
	font-weight:normal;
	margin-bottom: 25px;
}

.interior_body_left h2 {
	font-size:26px;
	font-family:Baskerville, Georgia, "Times New Roman", Times, serif;
	color:#242014;
	font-weight:normal;
	margin-bottom: 8px;
}
.interior_body_left h3 {
	color:#8b3d36;
	font-family:Baskerville, Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	padding: 0 0 5px 0;
	margin:0;
}

.interior_body_left h4 {
	color: #242014;
	font-family:Baskerville, Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	padding-bottom: 2px;
	margin:0;
}
.interior_body_left p {
	font-size:14px;
	line-height:19px;
	padding-bottom:15px;
}
.interior_body_left p img {
	margin:5px;
}
.tertiary_header_bulleted {
	width:100%;
	color:#28251f;
}

.interior_body_left ul {
	margin:5px 0 5px 23px;
	color:#28251f;
}
.interior_body_left  ul li {
	background:url(../images/bullete_image.jpg) no-repeat 0px 5px;
	line-height:25px;
	padding-left:26px;
	color:#28251f;
}
.interior_body_left a {color:#8B3D36;}

.interior_body_right {
	float:right;
	margin-top:22px;
	width:244px;
}

.side_bar_page_summary {
	width:100%;
	float:left;
	margin-top:20px;
}

.side_bar_page_summary h3 {
	color:#8b3d35;
	font-size:28px;
}

label, .label {
	display:block;
	float:left;
	width: 120px;
}

label input {
	margin: 0 6px 0 0;
}

.wpcf7-form input[type="submit"] {
	width: 150px;
	height: 75px;
	color:#fff;
	font-size: 30px;
	background-color:#750f0f;
	border:1px solid;
	cursor: pointer;
}

.contactTable {
	margin-bottom: 30px;
}



input#stayConnected {
    background: url(images/button_submit.png) no-repeat 0 0;
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 28px;
}

input#submitButton {
    background: url(../images/buttonSubmit.gif) no-repeat 0 0;
    border: 0;
    cursor: pointer;
    display: block;
    height: 29px;
    line-height: 0;
    text-indent: -9999px;
    width: 139px;
}

.contactInfo {
	font-size: 16px;
	line-height: 25px;
	padding-right: 35px;
}

ol {
	margin: 10px 0px 10px 40px;
}

ol li {
	margin: 0 0 10px 8px;
}

#showAntonioMenu {
	cursor: pointer;
}
#showRomanMenu {
	cursor: pointer;
}

p.title {
	padding-bottom:4px;
}

table.banquets td {
	padding: 10px 0 20px 0;
}

#video0 {
	margin-bottom:25px;
}

.clear {
	clear: both;
}

.menuTable {
	margin: -4px 0 0 -15px;
}

.banquetTable {
	margin: 0;
}

h6 {
	background: #900;
	color: #fff;
	font-weight: bold;
	padding: 15px;
	width: 358px;
}

.footer_wrapper ul li a#facebook {
	border-right: none;
	padding: 15px 15px 15px 30px;
	background: url(../images/facebook.jpg) no-repeat 0 9px;
}

#gform_fields_1 li {
	list-style:none;
	padding: 0px;
	margin: 0px;
	background: none;
}

#gform_fields_2 li {
	list-style:none;
	padding: 0px;
	margin: 0px;
	background: none;
	line-height: 12px;
}

#gform_fields_2 li label {
	float: none;
	width: 400px;
}

#gform_fields_2 li .gfield_description {
	padding-top: 0px;
	padding-bottom: 8px;
	color:#333333;
}

#gform_fields_2 li input {
	height: 20px;
}

#gform_fields_2 li select {
	height: 27px;
	font-size: 12px;
}

.photo-gallery-main td{
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 11px;
	color:#333333;
	font-style: italic;
}

.loading {
	display: none;
	position: absolute;
	left: -99999em;
	top: -999999em;

}
.menu-table td{padding-bottom: 10px;}
.panel-wrapper div h2 {border-top: 2px solid #E4CEA3; padding-top: 10px; margin-top: 15px;}
.panel-wrapper div h3 {margin-top: 14px;}
.panel-wrapper div table {margin-bottom: 18px;}

.glutenfree {
	background: url(../images/nowserving.png) no-repeat 0 0;
	width: 960px;
	height: 62px;
	display: block;
	float: left;
	clear: both;
	margin: 15px 0;
}

.glutenfree h2 {
	font-family: 'Georgia', 'Times New Roman', serif;
	text-align: center;
	font-style: italic;
	color: #ffffff;
	font-size: 23px;
	padding-top: 18px;
}
