a#link_tag_png{ 
	width:128px;
	height:128px;
	display: block;
	border: none;
	background:url(http://komodomedia.com/wp-content/uploads/2007/11/5th.png) 0 0 no-repeat;
	position: relative;
	cursor: pointer;
	color:black;
}



* html img, 
* html .png{
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "http://komodomedia.com/wp-content/uploads/2007/11/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
        
    );
}
