body {
	background: #ebdcb9 url(../images/backgrounds/music-pageback.jpg) no-repeat top center;
}

#musicWrap {
	width: 960px;
	margin: 0 auto;
}

#musicPlayer {
	width: 300px;
	float: right;
	margin-right: 9px;
}