body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
strong {
	font-style:normal;
}
ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
a {
	color: #39f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* DEFAULT FORM FIELDS */

input, textarea, select {

	font-family: arial, helvetica, sans-serif, verdana;
	font-size:13px;
	border: solid 1px #CDA88D;
	color: #3e454d;
	margin-bottom:10px;
}
textarea {
	padding:3px 0 3px 4px;
	overflow:auto;
	background: #F4ECDA;
	border: solid 1px #CDA88D;
}
input[type="button"] {
	border:0;
}
input[type="hidden"] {
	display:none;
}
input {
	height:26px;
	background: #F4ECDA;
	padding:2px 0 0 4px;
}
input.checkbox {
	margin:3px 6px 0 0;
	height:13px;
	width:13px;
	border:0;
}
select {
	height:20px;
	padding:0;
}
a.field_button {
	display:block;
	float:left;
	margin-left:5px;
	width:42px;
	line-height:20px;
	text-align:center;
	color:#333;
	font-weight:bold;
}
:focus {
	outline: 0;
}
