/*
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { padding: 20px 0; width: 665px; }
	.coda-slider { background: none; }
	.coda-slider td { padding: 5px 15px 5px 5px; vertical-align: text-top; }
	.coda-slider p {  }
		.coda-slider h4 { padding: 10px 0 2px 0; font-size: 20px;}
	.coda-slider h2 { 
		font-size:34px;
		color:#242014;
		font-weight:normal;
		margin-bottom: 15px;
		font-family: Baskerville, "Times New Roman", Times, serif;
	}
	
		.coda-slider h3 { 
		font-family: Baskerville, "Times New Roman", Times, serif;
	}
	
		.coda-slider h5 {
		margin-bottom: 15px;
	}
	
	#antonioMenu .image {
		margin: 0 0 20px -6px;
	}
	
	#romanMenu .image {
		margin: -20px 0 20px -6px;
	}
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 675px; } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 675px; }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 125px }
	
	/* Tab nav */
	.coda-nav ul li a.current { background: #750F0F }
	
	/* Panel padding */
	.coda-slider .panel-wrapper { padding: 20px 10px }
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px 10px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav ul { clear: both; display: inline; margin: auto; }
	.coda-nav ul li { display: inline; background: none; }
	.coda-nav ul li a { background: #966429; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 8px; text-decoration: none }
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right { float: left }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
