// Fonts

	// monterrat and baskerville
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);

	// Sentinel
@font-face {
	font-family: Sentinel-Bold;  
	src: url('/wp-content/themes/antonios/fonts/Sentinel-Bold.ttf');  
	font-weight: normal;  
}

@font-face {
	font-family: Sentinel-Book;  
	src: url('/wp-content/themes/antonios/fonts/Sentinel-Book.ttf');  
	font-weight: normal;  
}

@font-face {
	font-family: Sentinel-Light;  
	src: url('/wp-content/themes/antonios/fonts/Sentinel-Light.ttf');  
	font-weight: normal;  
}

@font-face {
	font-family: Sentinel-Medium;  
	src: url('/wp-content/themes/antonios/fonts/Sentinel-Medium.ttf');  
	font-weight: normal;  
}

//Font Family
$sent-bold: 'Sentinel-Bold';
$sent-book: 'Sentinel-Book';
$sent-light: 'Sentinel-Light';
$sent-medium: 'Sentinel-Medium';


$mont-font: 'Montserrat', sans-serif;
$bask-font: 'Libre Baskerville', serif;

//Media Query Settings
$base-screen: "only screen and (min-width: 0px)";
$phone: "only screen and (min-width: 320px)"; //iPhone portrait
$wide-phone: "only screen and (min-width: 500px)"; //iPhone 4 landscape
$tablet-600: "only screen and (min-width: 600px)";
$tablet-700: "only screen and (min-width: 700px)";
$tablet-750: "only screen and (min-width: 750px)";
$tablet-800: "only screen and (min-width: 800px)";
$tablet-900: "only screen and (min-width: 900px)"; //Topbar breakpoint
$desktop: "only screen and (min-width: 1000px)"; //Standard desktops
$wide-desktop: "only screen and (min-width: 1400px)"; //Bigger screens

$body-bg: #ddd;
$body-font-family: 'Helvetica Neue', Arial, sans-serif;
$header-font-family: 'Helvetica Neue', Arial, sans-serif;
$paragraph-font-family: 'Helvetica Neue', Arial, sans-serif;
$header-line-height: 1.2em;
$primary-color: #2D7DCC; //Change to the site's main color.
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
$input-focus-border-color: lighten($primary-color, 20%);

//Colors
$red: #a8223f;
$dark-red: #881931;
$brown: #453f31;
$wine-red: #58070c;
$blood-red: #871b22;

//Comment Styles
$comment-gutter: 1.4em;
$comment-image-padding: .7em;
$comment-image-width: 4em;
$comment-color: #ebebeb;
$comment-background: lighten(#ebebeb, 15);
$comment-detail-color: transparentize($comment-color, .5);
$comment-image-vert-alignment: top;

//WPCF7 Message Colors
$spam-message-bg: #A90C13;
$spam-message-border-color: lighten($spam-message-bg, 15%);
$spam-message-color: #fff;
$success-message-bg: #1A8662;
$success-message-border-color: lighten($success-message-bg, 15%);
$success-message-color: #fff;
$error-message-bg: #FFE974;
$error-message-border-color: darken($error-message-bg, 15%);
$error-message-color: #1a1a1a;

//VCard Styles
$microformat-margin: 0;
$microformat-border-width: 0;
$microformat-padding: 0;

/* Custom mixins and functions */
@mixin transition($transition-property, $transition-time, $method) {
   -webkit-transition: $transition-property $transition-time $method;
   -moz-transition: $transition-property $transition-time $method;
   -ms-transition: $transition-property $transition-time $method;
   -o-transition: $transition-property $transition-time $method;
   transition: $transition-property $transition-time $method;
}

@mixin flipH() {
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

@mixin flipV() {
   -moz-transform: scaleY(-1);
   -webkit-transform: scaleY(-1);
   -o-transform: scaleY(-1);
   transform: scaleY(-1);
   -ms-filter: "FlipH";
   filter: FlipV;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
