/*
Theme Name: Antonio's Roman Village
Theme URI: http://core3solutions.com/
Description: A custom theme developed by Core3 Solutions for Antonio's Roman Village
Version: 1.0
Author: Core3 Solutions
Author URI: http://core3solutions.com/
Tags: golden red, custom header, fixed width, two columns, widgets
*/

/* Begin Typography & Colors */
#headerimg 	{
	margin: 7px 9px 0;
	height: 192px;
	width: 740px;
	}

#content {
	font-size: 1.2em;
	}

.widecolumn .entry p {
	font-size: 1.05em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.4em;
	}

.widecolumn {
	line-height: 1.6em;
	}

.narrowcolumn .postmetadata {
	text-align: center;
	}

.thread-alt {
	background-color: #f8f8f8;
}
.thread-even {
	background-color: white;
}
.depth-1 {
border: 1px solid #ddd;
}

.even, .alt {

	border-left: 1px solid #ddd;
}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

#headerimg .description {
	font-size: 1.2em;
	text-align: center;
	}
.entry p a:visited {
	color: #b85b5a;
	}

.sticky {
	background: #f7f7f7;
	padding: 0 10px 10px;
	}
.sticky h2 {
	padding-top: 10px;
	}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}
.commentlist li ul li {
	font-size: 1em;
}

.commentlist li {
	font-weight: bold;
}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}


#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */






/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px 4px 4px 15px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px 15px 4px 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */



/* Begin Sidebar */
#sidebar
{
	padding: 20px 0 10px 0;
	margin-left: 545px;
	width: 190px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}
	
.screen-reader-text {
     position: absolute;
     left: -1000em;
}

div.hr {
  height: 3px;
  background: #908368;
  margin: 8px 0 15px 0;
}
div.hr hr {
  display: none;
}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.copyright {
	padding-left: 5px;
}
.footer_wrapper ul li.last {
	border-right: none;
}

.wrapper {
	position: relative;
}

#view-mobile {
	display: block;
	text-align: center;
	background: #710000;
	padding: 15px 0;
}

#view-mobile a {
	text-align: center;
	font-size: 50px;
	color: #ffffff;
}

/* End captions */



/* UPDATE MENU WITH ACF AND RESPONSIVENESS */
.menu-switch-btns { 
	padding: 10px 0 20px 0; 
	text-align: center;
}
.menu-switch-btns a {
	border-radius: 50px;
    background: #a8223f;
    padding: 10px 24px;
    margin: 0 2px;
    color: #fff;
    border-bottom: 3px solid #58070c;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
.menu-switch-btns a:hover {
	color: #fff;
	text-decoration: none;
}
.menu-container { margin-top: 40px; }
.one-half {
	float: left;
	margin: 0 1%;
	width: 48%;
}
.one-half.right { float: right; }
.single-column-content { 
	padding: 0 10px; 
	width: 100%; 
}
.menu-section h3 {
	background: #a8223f;
	color: #fff !important;
	padding: 5px 0 3px 0;
	text-align: center;
}
.menu-section h3 span {  
	font-size: .65em;
	font-weight: normal;
}
.menu-section .menu-img { margin-bottom: 14px; }
#Menu .menu-item { 
	min-height: 50px; 
	margin-bottom: 1.25em;
}
#Menu #sides .menu-item,
#Menu #stuffed-pasta .menu-item {
	min-height: 60px;
}
#Menu #sides .menu-item,
#Menu #dessert .menu-item,
#Menu #espresso .menu-item,
#Menu #house-wines .menu-item,
#Menu #bottled-beer .menu-item,
#Menu #non-alcoholic .menu-item {
	min-height: 0px;
}
#salads .menu-item, #pizza .menu-item { 
	height: auto; 
}
.menu-item .item-name { 
	float: left;
	font-weight: bold; 
}
.menu-item .item-name img {
	height: 16px;
	margin-top: -3px;
}
.menu-item .item-price { 
	float: right;
	font-weight: bold; 
}
.menu-item .item-description { 
	clear: both; 
	padding: 4px 0 0 0;
}
.menu-item .item-description p {
	line-height: 1;
	margin: 0;
}
.menu-section .section-description p {
	text-align: center;
}
#banquet ul {
	-webkit-column-count: 2;
	-moz-column-count: 2; 
	column-count: 2;
	max-width: 500px;
}
#house-wine ul li { text-align: center; }
@media only screen and (max-width: 800px) { 
	#Menu .menu-item { height: auto; }
	#Menu .menu-item .item-name { clear: both; }
	.one-half { width: 98%; float: none; }
}
@media only screen and (max-width: 500px) { 
	.menu-item .item-name, .menu-item .item-price {
		float: none;
		clear: both;
	}	
	.menu-switch-btns a {
		display: block;
	    margin: 0 0 8px 0;
	    text-align: center;
	}
}
/*--FIX MOBILE MENU TO WORK ON ALL DEVICES--*/
#click-menu.admin-bar-showing { width: 145px !important; }
#click-menu #RMX.threelines-float-left {
	font-size: 50px !important;
    padding-top: 6px !important;
}
.gform_wrapper .gform_footer input[type=submit] {
	padding: 10px 20px;
    height: auto;
}
/*--FRON-END RESPONSIVNESS FIXES--*/
/*--BANQUETS AND CATERING--*/
.page-id-7 .interior_body_left ul {
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	margin-bottom: 24px;
}
.rooms-container { margin-top: 40px; }
.rooms-container .menu-btns {
	margin-bottom: 14px;
}
.rooms-container .menu-btns a {
	background: #a8223f;
	border-bottom: 3px solid #58070c;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0 2px;
	padding: 10px 24px;
	text-decoration: none;
	text-transform: uppercase;
}
.rooms-container .single-room p { padding: 0; }
.rooms-container hr {
	height: 3px;
	background: #E4CEA3;
	margin: 15px 0;
}
.rooms-container h2.location-title { margin-top: 25px; }
@media only screen and (max-width: 800px) { 
	.single-room img.one-half {  
		max-width: 400px;
	    margin: 0 auto 14px auto;
	    text-align: center;
	    display: block;
	} 
}
@media only screen and (max-width: 400px) { 
	.rooms-container .menu-btns a { margin-bottom: 8px; }
	.page-id-7 .interior_body_left ul {
		-webkit-column-count: 1; 
		-moz-column-count: 1; 
		column-count: 1;
	}
}
/*--LOCATIONS--*/
.page-id-11 .interior_body_left table { 
	background: transparent; 
}
/*--EVENTS--*/
.one-third {
	width: 31.33%;
	margin: 0 1%;
	float: left;
}
.single-events .one-third { 
	float: right; 
	text-align: right;
}
.single-events .one-third img { max-width: 100%; }
.single-events p {
	padding: 0 !important;
	margin: 8px 0 0 0;
}
.events-container hr {
	height: 3px;
	background: #E4CEA3;
	margin: 25px 0;
}
@media only screen and (max-width: 700px) {
	table#event-tickets {
    	width: 300px !important;
    	margin: 8px auto 0 auto;
	}
}
@media only screen and (max-width: 400px) { 
	.single-events .one-third {
		width: 38%;
	}
}

/* FIX SPACING IN HEADER */
.header-logos-container img { margin-bottom: 75PX; }

/* UPDATE BUTTON COLORS */
a.red-btn {
	background-image: none !important;
	background-color: #580009 !important;
	border-radius: 100px !important;
	padding: 8px 16px !important;
}
.menu-switch-btns a, .menu-btns a { 
	background: #580009 !important;
	border: none;
}
.menu-section h3 { background: #580009; }
td .red-btn { 
	display: block; 
	text-align: center; 
	margin: 4px 0 !important; 
}

@media screen and (max-width: 800px) {
button#responsive-menu-button {
    float: right;
}
}