/* =Footer Styles
--------------------------*/

.float_left, .float_right {
	@include grid-column(12);
	padding-top: 20px !important;
	@media #{$tablet-800} {
		@include grid-column(6);	
	}
}

.float_right {
	float: right;
	ul {
		float: right;
	}
}