/* =Homepage styles
---------------------------*/
.header_wrapper {
	height: auto;
}
.banner-wrapper {
	.slider-content {
		text-align: center;
		h1 {
			font-size: 60px;
			color: #fff;
			font-family: $sent-medium;
			margin-bottom: 0px !important;
		}
		p {
			color: #fff;
			font-size: 14px;
			max-width: 60% !important;
		   width: 100% !important;
		   text-align: center;
		   margin: auto !important;
		   margin-bottom: 40px !important;
		}
		a {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
	}
}
.banner_wrapper {
	height: auto;
	background: none;
	@media #{$desktop} {
		width: 100%;
	   float: left;
	   height: auto;
	   position: relative;
   }
   .home-content {
	   @include grid-column(12);
	   @media #{$tablet-750} {
		   @include grid-column(4);
	   }
	   p, h2 {
		   @include grid-column(12);
		   clear: both;
		   padding: 0px;
		   @media #{$desktop} {
			   width: 100%;
		   }
	   }
	   .check_out_menu_button {
		   clear: both;
		   margin: 0px;
	   }
   }
   .img-wrap {
	   @include grid-column(12);
	   margin-top: 25px;
	   @media #{$tablet-750} {
		   @include grid-column(8);
		   margin-top: auto;
	   }
	   img {
		   
	   }
   }
}

.body_content_wrapper {
	.body_column_1 {
		.section_box {
			.buttons {
				a {
					
				}
			}
		}
	}
}

.glutenfree {
   background: url('/wp-content/themes/antonios/images/backgrounds/gluten-free-bg.jpg');
   background-size: cover;
   width: 100%;
   position: relative;
   height: auto;
   margin-top: 0px;
   &:before {
		content: '';
		background-image: url('/wp-content/themes/antonios/images/backgrounds/gluten-free-logo.png');
		background-size: contain;
		position: absolute;
		width: 130px;
		height: 147px;
		z-index: 999;
		top: -9px;
		left: 20px;
		background-repeat: no-repeat;
		@media #{$tablet-900} {
			width: 150px;
		}
	}
	h2 {
		margin-top: 15px;
		margin-bottom: 30px;
		font-family: $bask-font;
		color: $brown;
		margin-left: 150px;
		@media #{$tablet-900} {
			margin-left: auto;
			margin-top: 30px;
		}
	}
}