// General Layouts
html {
	background: url('/wp-content/themes/antonios/images/backgrounds/tan-bg.jpg') top center #ebdcb9 no-repeat;
}

body {
	background: transparent;
}

table {
	border: none;
}

a {
   @include transition(all, 0.5s, ease-in-out);
   &:hover {
      @include transition(all, 0.5s, ease-in-out);
			opacity: .7;
   }
}

a.red-btn {
	background: url('/wp-content/themes/antonios/images/backgrounds/btn-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-family: $mont-font;
	padding: 20px; 
	&:hover {
		text-decoration: none;
	}
}

h3 {
	color: $red !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
   box-shadow: 0 0 2px $primary-color;
}
img.alignnone {
	margin-top: 15px !important;
}

.interior_body_left {
	.banquetTable {
		background: transparent;
	}
	.banquets {
		background: transparent;
		width: 100% !important;
	}
}


// Content Layout

.wrapper, 
.navigation-wrapper,
.header-logos-container,
.footer_wrapper {
	@include grid-row();
	max-width: 1000px;
	padding: 0px 5px;
	@media #{$desktop} {
		padding: 0px;
	}
}
.navigation-wrapper {
	background: #460000;
}

.body_content_wrapper {
	margin-top: 0px !important;
	.body_column_1 {
		@include grid-column(12);
		@media #{$tablet-900} {
			@include grid-column(4);
		}
	}
	.body_advertisements_wrapper {
		@include grid-column(12);
		@media #{$tablet-900} {
			@include grid-column(4);
			width: 27.333333%;
		}
	}
	.interior_body_left {
		width: 100%;
		@media #{$desktop} {
			width: 65%;
		}
	}
	.interior_body_right {
		@include grid-column(12);
		@media #{$tablet-900} {
			@include grid-column(4);
			width: 27.333333%;
		}
	}
}


// Menu Styling
