// General Internal Page Layouts

// Sidebar Stuff
#jcart {
	display: none;
}

.body_content_wrapper {
	margin-top: 30px;
}

.interior_body_left {
	padding-top: 0px;
}

.interior_body_right {
	
	.body_advertisements_wrapper {
		width: auto;
		padding: 0px;
	}
}

// Locations Page

.contactTable {
	@include grid-column(12);
	.table-img, .table-content {
		@include grid-column(12);
		@media #{$tablet-750} {
			@include grid-column(6);
		}
	}
	.table-content {
		p {
			a {
				
			}
		}
	}
}