/* =Mast Styles
--------------------------*/
.header-logos-wrap {
	background-image: url('/wp-content/themes/antonios/images/backgrounds/italian-hills.jpg');
	background-size: cover;
	background-position: top center;
	width: 100%;
	float: left;
	&:before {
		content: '';
		background-image: url('/wp-content/themes/antonios/images/backgrounds/grapes-left.png');
		background-size: contain;
		position: absolute;
		width: 240px;
		height: 196px;
		top: -15px;
		left: 0;
		background-repeat: no-repeat;
		display: none;
		@media #{$desktop} {
			display: block;
		}
	}
	&:after {
		content: '';
		background-image: url('/wp-content/themes/antonios/images/backgrounds/grapes-right.png');
		background-size: contain;
		position: absolute;
		width: 25%;
		height: 200px;
		top: 0px;
		right: 0;
		background-repeat: no-repeat;
		@media #{$desktop} {
			width: 270px;
			height: 200px;
		}
	}
	.header-logos-container {
		position: relative;
		max-width: 100%;
		padding: 0px;
		padding-top: 20px;
		height: 125px;
		text-align: center;
		@media #{$wide-phone} {
			max-width: 90%;
			padding: 0 5px;
		}
		@media #{$tablet-800} {
			max-width: 810px;
			height: auto
		}
		@media #{$tablet-900} {
			padding-top: 20px;
		}
		a {
			margin: 30px 0px;
			display: inline-block;
			position: relative;
			z-index: 100;
			vertical-align: top;
			width: 130px;
			@media #{$wide-phone} {
				width: 175px;
			}
			@media #{$tablet-700} {
				width: 215px;
			}
			@media #{$tablet-900} {
				width: 300px;
			}
			&.antonios {
				position: relative;
				left: 0px;
				margin-right: 30px;
				z-index: 10;
				margin-left: 20px;
				@media #{$wide-phone} {
					//margin-right: 70px;
				}
				@media #{$tablet-700} {
					margin-right: 40px;
					left: 15px;
				}
				@media #{$tablet-900} {
					//margin-right: 140px;
				}
				&:before {
					content: '';
					height: 55px;
					background: url('/wp-content/themes/antonios/images/backgrounds/and-symbol.png');
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					width: 50px;
					top: -5px;
					right: -40px;
					z-index: -1;
					display: none;
					@media #{$wide-phone} {
						content: '';
						width: 100px;
						top: 0px;
						right: -90px;
					}
					@media #{$tablet-700} {
						width: 130px;
						right: -120px;
						height: 75px;
					}
					@media #{$tablet-900} {
						content: '';
						top: -30px;
						height: 55px;
						right: -130px;
						width: 150px;
						height: 150px;
						vertical-align: middle;
					}
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			&.roman-village {
				position: relative;
				left: -25px;
			}
		}
		.and-symbol {
			display: inline-block;
			position: relative;
			top: 25px;
			
		}
	}
}

.header-top {
	background: transparent;
}
.headertop {
	border-top: none;
}

// Navigation Top
.nav-holder {
	background: $wine-red;
	clear: both;
	margin-top: -33px;
	height: 70px;
	@media #{$tablet-800} {
		height: auto;
	}
}
.navigation-wrapper {
	background: $wine-red;
	.navigation {
		margin: 0px;
		.locations {
			font-family: $mont-font;
			font-size: 15px;
			position: relative;
			border: solid 2px #000;
			border-radius: 10px;
		   width: 135px;
		   float: left;
		   padding: 12px;
		   padding-left: 20px;
			top: 15px;
			color: #fff;
			margin-left: 10px;
			text-transform: uppercase;
		   @media #{$tablet-900} {
			   display: none;
		   }
		   &:before {
				content: '';
				height: 20px;
				width: 13px;
				background: url('/wp-content/themes/antonios/images/backgrounds/location-icon.png');
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top: 9px;
				left: 5px;
			}
		}
		ul#menu-primary {
			display: none;
			margin-bottom: 0px;
			@media #{$tablet-800} {
				display: block;
			}
	      &.inline {
	         list-style-type: none;
	      }
			li {
				display: inline-block;
				width: auto;
				a {
					color: #fff;
					font-weight: 200;
					font-family: $sent-light;
					font-size: 16px;
					text-transform: capitalize;
					position: relative;
					display: inline-block;
					padding: 10px 25px;
					&:hover {
						color: #fff;
						text-decoration: none;
						background: $blood-red;
						opacity: 1 !important;
						&:before {
							content: '';
							background: url('/wp-content/themes/antonios/images/backgrounds/little-arrow.png');
							background-size: contain;
							background-repeat: no-repeat;
							position: absolute;
							width: 20px;
							height: 10px;
							left: 50%;
							margin-left: -10px;
							bottom: -10px;
						}
						
					}
				}
				&.banquets {
					width: 160px;
					padding: 0px;
				}
			}
		}
	}
}

// Mobile Menu items

#click-menu {
	top: 140px !important;
	background: transparent !important;
   text-align: right;
   border: solid 2px #000;
   border-radius: 10px;
   width: 135px;
   @media #{$wide-phone} {
		width: 145px;
	}
	@media #{$tablet-700} {
		width: 175px;
	}
   &.admin-bar-showing {
	   width: 175px;
	   margin-top: 2px !important;
   }
	.threeLines {
		width: 25px;
		margin: 0px;
		margin-right: 15px !important;
		float: right;
		.line {
			height: 4px !important;
			margin-bottom: 4px !important;
		}
	}
	#click-menu-label {
		&.click-menu-label-left {
			margin-right: 40px !important;
			font-size: 16px;
			position: relative;
			top: 7px;
			left: 10px;
			font-family: $mont-font;
		}
	}
}

#responsive-menu {
	z-index: 99999 !important;
	&.admin-bar-showing {
		padding-top: 0px !important;
	}
	.responsive-menu li a {
		font-family: $mont-font !important;
	}
}







